---
layout: page
title: "ウェブサイト"
description: "Team16KCGI"
header-img: "img/post-bg-website.jpg"
---

<div class="zh post-container">

    <p>ここでは、勉強や生活の中でよく利用するウェブサイトをまとめました。</p>

    <h3>入国</h3>

    <p><img alt="" src="https://raw.githubusercontent.com/team16kcgi/websit-img/main/pexels-jerry-wang-3768652.jpg"/></p>

    <ul>
        <li><a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00209.html">水際対策｜厚生労働省｜日本政府</a></li>
        <li><a href="https://www.keishicho.metro.tokyo.lg.jp/menkyo/menkyo/kokugai/">外国免許・国外運転免許証関係</a></li>
        <li><a href="https://www.kojinbango-card.go.jp">マイナンバーカード総合サイト</a></li>
    </ul>

    <h3>モバイル通信サービス</h3>

    <p><img alt="" src="https://raw.githubusercontent.com/team16kcgi/websit-img/main/pexels-photo-63690.jpeg"/></p>

    <ul>
        <li><a href="https://ahamo.com">ahamo</a></li>
        <li><a href="https://network.mobile.rakuten.co.jp">楽天モバイル</a></li>
        <li><a href="https://povo.jp">【公式】povo2.0｜基本料ゼロから始めるau回線のスマホプラン</a></li>
        <li><a href="https://ahamo.com/support/mnp/">MNP予約番号の取得方法 | お申込みの流れ | ahamo</a></li>
        <li><a href="https://www.softbank.jp/internet/air/">自宅・家庭用Wi-FiならSoftBank Air（ソフトバンクエアー）工事不要、置くだけですぐに使える | インターネット・固定電話 | ソフトバンク</a></li>
    </ul>

    <h3>生活</h3>

    <p><img src="https://team16kcgi.github.io/img/post-seikatu.jpg" alt=""></p>
  
    <ul>
        <li><a href="https://ja.wikipedia.org/wiki/%E4%BD%8F%E6%B0%91%E7%A5%A8">住民票 - Wikipedia</a></li>
        <li><a href="https://kyoto-kogomi.net/downloads/">京都こごみネット</a></li>
    </ul>

    <h3 id="-">お金</h3>

    <p><img src="https://team16kcgi.github.io/img/post-bg-money.jpg" alt=""></p>
    
    <ul>
        <li><a href="https://www.kylc.com/bank/upatmcharge.html">銀聯デビットカード海外ATM現金引出手数料発行銀行一覧</a></li>
        <li><a href="https://www.jp-bank.japanpost.jp/tetuzuki/honnin/tzk_hn_kaisetu.html">ゆうちょ銀行ー口座開設時の本人確認書類</a></li>
        <li><a href="https://life.oricon.co.jp/rank-credit-card/">クレジットカード総合ランキング</a></li>
        <li><a href="https://kakaku.com/card/">クレジットカード比較</a></li>
    </ul>

    <h3>郵便</h3>

    <p><img src="https://team16kcgi.github.io/img/post-yuubin.jpg" alt=""></p>
    
    <ul>
        <li><a href="https://www.post.japanpost.jp/kitte/index.html">切手</a></li>
        <li><a href="https://www.post.japanpost.jp/service/letterpack/">郵便・荷物サービス一覧ーレターパック</a></li>
        <li><a href="https://www.kuronekoyamato.co.jp/">ヤマト運輸</a></li>
        <li><a href="https://www.sagawa-exp.co.jp/">佐川急便</a></li>
    </ul>

    <h3>災害</h3>

    <p><img src="https://team16kcgi.github.io/img/post-disasters.jpg" alt=""></p>
    
    <ul>
        <li><a href="https://www.data.jma.go.jp/multi/quake/index.html?lang=jp">地震情報</a></li>
    </ul>

    <h3>交通</h3>

    <p><img src="https://team16kcgi.github.io/img/post-koutsuu.jpg" alt=""></p>
    
    <ul>
        <li><a href="https://www.westjr.co.jp/">JR西日本</a></li>
        <li><a href="https://www.jr-odekake.net/icoca/mobileicoca/">モバイルICOCAサポートサイト</a></li>
        <li><a href="https://www.jreast.co.jp/mobilesuica/index.html/">モバイルSuicaーJR東日本</a></li>
        <li><a href="https://www.jorudan.co.jp/">ジョルダン-乗換案内・路線情報・時刻表・運行情報サービス</a></li>
        <li><a href="https://smart-ex.jp/top.php">「スマートEX」気軽にネット予約で新幹線を利用するなら！</a></li>
        <li><a href="https://www.jreast.co.jp/mv-guide/">指定席券売機ご利用案内</a></li>
        <li><a href="https://ja.wikipedia.org/wiki/%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E8%BB%8A">グリーン車 - Wikipedia</a></li>
        <li><a href="https://japanrailpass.net/">JAPAN RAIL PASS</a></li>
        <li><a href="https://go.mo-t.com/">GoTaxi</a></li>
        <li><a href="https://www.uber.com/jp/ja/">Uber</a></li>
        <li><a href="https://didimobility.co.jp/">DiDi</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

