---
layout: page
title: "Team16について"
description: "リーダーシップセオリー"
header-img: "img/post-bg-about.jpg"
---

<div class="zh post-container">

    <!--copied from markdown -->

   

    
      
     

      

      <h4>グループ16紹介：Team16KCGI-留学生のためのより良い日本生活体験の構築</h4>

        <p><img alt="" src="https://raw.githubusercontent.com/team16kcgi/websit-img/main/pexels-photo-3408353.jpeg"/></p>

        <p>日本での留学は、斬新でチャレンジングな体験になることでしょう。 しかし、国や文化的背景が異なる留学生にとって、新しい環境に適応し、日本の文化や生活習慣を理解することは、難しい課題です。 このような留学生が日本社会にうまく溶け込み、サポートやガイダンスを提供するために、私たちのグループTeam16KCGIは生まれました。</p>

        <p>Team16KCGIは、京都情報大学院大学の応用情報技術研究科の学生からなるグループです。私たちのメンバーは多元文化と異文化交流を愛し、技術と革新を通じて実際の問題を解決することに力を入れています。留学生自身として、私たちは日本に留学する喜びと挑戦を深く理解しているので、私たちは他の留学生に実用的な支持と資源を提供することを決意しました。</p>

        <p>私たちの核心的な目標は、日本に来た留学生がよりよく日本で生活するのを助けることです。</p>

        <p>グループメンバーの背景は多様化しており、人工知能、ウェブシステム開発、ITマンガ・アニメなど、異なる専門分野から来ている。私たちのグループ文化は積極的で実務的で革新的です。私たちはチームワークと相互サポートを重視して、私たちの共通の目標を実現します。</p>

        <p>グループの価値観は、プロフェッショナル、卓越性、フレンドリー、貢献です。 私たちの努力によって、留学生がよりよく日本社会に適応し、溶け込めるよう支援するとともに、日本社会の多様性と国際化に貢献したいと願っています。</p>

        <p>海外からの留学生で、日本の文化や生活習慣に適応するために助けが必要な場合は、Team16KCGIにお気軽にご連絡ください！</p>

        <p>E-mail: team16kcgi.wi0cd★aleeas.com（★を@にかえてください）</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

